NODE_ENV=development
PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_NAME=segur_track
DB_USER=postgres
DB_PASSWORD=tu_password_aqui
JWT_SECRET=cambia_este_secreto_por_uno_seguro_de_al_menos_32_caracteres
JWT_EXPIRATION=8h
CORS_ORIGIN=http://localhost:5173
ADMIN_INITIAL_PASSWORD=Admin1234
POWER_BI_EMBED_URL=
IMAGEKIT_PUBLIC_KEY=public_Fj0ZZ7V3VHgYIKtwZhBpVyiIzXI=
IMAGEKIT_PRIVATE_KEY=private_R0Iv34nCJ/48Klu1L4JIIpvuHAk=
